<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>
        {% block title %}
        TV Show
        {% endblock title %}
    </title>
    <style>
        .logo {
            width: 100px;
            height: 100px;
        }
        .container {
            background-color: rgb(226, 209, 238);
        }
    </style>
</head>
<body>
    <div class="container p-3">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <img class="logo" src="{% static 'img/tv.jpg' %}" alt="picture">
                <a class="navbar-brand d-flex justify-content-end mt-3" href="/shows">Return to All Shows</a>
            </div>
        </nav>
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
</html>